* {
	background-image: none;
	box-shadow: none;
        font-family: "GeistMono Nerd";
}

window {
    background-color: rgba(17, 17, 17, 0.85)
}

button {
    border-radius: 20px;
    margin: 10px;
    color: #e2e2e9;
    border-color: #e2e2e9;
    background-color: rgba(0, 0, 0, 0.4);
    outline-style: none;
    border-style: solid;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 2s ease-in infinite;
}

button:hover,button:focus {
    background-color: rgba(45, 45, 45, 0.7);
    background-size: 30%;
    animation: gradient_f 2s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/sleep.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}
